* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f7E2E2;
    color: #f7E2E2;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  header {
    padding: 20px 35px;
    background-color: #16192f;
    top: 0;
    z-index: 2;
    width: 100%;
    display:flex;
    justify-content: center;
    align-content: center;
  }
  
  .employee-container {
    border: 1px solid #ccc;
    padding: 0;
    margin: 15px 0;
  }
  
  .employee-header {
    background: darkblue;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .employee-info {
    text-align: center;
    color: black;
    padding: 20px;
  }
 